@import (inline) 'icons.css';

.financeFaceContainer {
  width: 100%;
  height: 100%;
  background-size: contain;
}

.financeFrontFace {
  color: inherit;
  width: 100%;
  height: 100%;
  .financeButton {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
    display: block;
    min-width: 40px;
    min-height: 40px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    .badgeText {
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      //background-color: #000;
      //background-color: rgba(0,0,0,0.15);
      // -webkit-box-shadow: 0 0 10px 0 rgba(255,255,255,0.3);
      // -moz-box-shadow: 0 0 10px 0 rgba(255,255,255,0.3);
      // box-shadow: 0 0 10px 0 rgba(255,255,255,0.3);
      color: #5a5377;
      text-shadow: none;
      display: block;
      min-width: 40px;
      min-height: 40px;
      text-align: center;
      line-height: 40px;
      font-size: 26px;
      font-weight: 500;
      &.important {
        background-color: #FDE373 !important;
        color: #000000 !important;
        font-size: 1.5rem;
      }
    }
  }
  .financeText{
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: 200;
    text-align: center;
    position: absolute;
    color: #fff;
    bottom: 10%;
    letter-spacing: 0.25px;
    line-height: 1.1em;
    width: 100%;
  }
}
